*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: black;
}
body{
   /* width: 1280px; */
 
    height: 100vh;
    padding: 20px 0px;
    display: block;
    /* flex-direction: column; */
    align-content: center;
    justify-content: center;
    /* align-items: center; */
    
}
.main{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}
header{
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.creds{
    height: 68px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    height: 48px;
    width: 48px;
}

::placeholder{
    color: white;
    font-size: 0.9rem;
}
.login{
    font-size: 20px;
    width: 120px;
    height: 48px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    border: 3px solid white;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    border-radius: 5px;
}
.login:hover{
    transform: scale(1.03);
    color: black;
    background-color: white;
}
.language{
    height: 48px;
    width: 55px;
}
.search img{
    display: none;
}
input{
    height: 48px;
    width: 400px;
    border: 0;
    outline: 0;
   font-size: 16px;
    color: white;
    transition: ease-in-out 0.5s;
}
.input{
    border: 0;
}
.movies-section{
    margin-top: 40px;
    display: flex;
    overflow-x:scroll;
    
    width: 100%;
    height: 380px;
    
}
::-webkit-scrollbar{
    display: none;
}
.movie{
    margin: 5px 28px;
    position:relative;
    width: 200px;
    height: 333px;
    background-image:url("Images/movie.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    border: 3px white solid;
justify-content: space-between;
border-radius: 5px;
padding: 3px;
transition: ease-in-out 0.3s;
cursor: pointer;
}
.movie:hover{
    transform: scale(1.03);
    opacity: 0.5;
    text-decoration: underline;
}
.rating{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    background-color: rgba(255, 255, 255)  ;
    font-weight: 700;
    border-radius: 5px;
 
}
.title{
    /* position: absolute; */
    width: 197px;
    margin-left:-3px;
    margin-bottom: -3px;
    height: 30px;
    background-color: rgba(255, 255, 255);
    
    display: flex;
    text-indent: 5px;
    font-weight: 700;
    font-size: 14px;
    justify-content: left;
    align-items: center;
    /* border-radius: 5px; */
}

.rating div{
    background: transparent;
}

.sidebar{
    
    height: 600px;
    min-width: 500px;
    display: none;
    position:absolute;
    border-radius: 20px;
    background-color: white;
    animation: slide 0.7s ease-in-out 0s 1;
}
@keyframes slide {
   from{
    transform: translateX(-500px);
   }
   to{
    transform: translateX(0px);
   }
}
.genre{
    width: 100%;
    /* height: 200px; */
    margin-top:40px ;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}
.genre h1{
    background: transparent;
    display: block;
}
.col-1{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.g{
    height: 30px;
    width: 100px;
    margin: 4px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: ease-in-out 0.3s;
    cursor: pointer;
}
.clicked{
    height: 30px;
    width: 100px;
    margin: 4px;
    color: black;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    
    cursor: pointer;
}
.g:hover{
    color: black;
    transform: scale(1.03);
    background-color: white;
    font-weight: 600;
}
.plans{
    /* height: 500px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    /* justify-content: center; */
    color: white;
    font-size: larger;
    margin-top: 40px;
}
.plans h2{
    margin-top: 20px;
    font-size: large;
}
.plan-layout{
    margin-top: 40px;
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* background-color: yellow; */
}
.plan{
    height: 290px;
    width: 256px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in 0.3s;
    cursor: pointer;
    border-bottom: 2px solid white;
    

}
.plan h2{
    margin-bottom: 15px;
    background-color: transparent;
}
.plan h1{
    margin-bottom: 20px;
    background-color: transparent;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}
.plan div h3{background-color: transparent;margin: 4px 0px;}
.buy{
    margin-top: 5px;
display: none;
height: 36px;
width: 135px;
    background-color: black;
    color: white;
    transition: ease-in 0.3s;
    flex-direction: column;
align-items: center;
justify-content: center;
    
}
.buy p{
    transition: ease-in 0.1s;
    background: transparent;
    display: none;
}
.plan:hover{
    background-color: white;
    color: black;
}
.buy:hover{
    background-color: grey;
}
.plan:hover .buy p{
    display: block;
}
.plan:hover .buy{
display: flex;
}
.footer{
    margin-top: 40px;
    width: 100%;
    /* height: 300px; */
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 138px;
    margin-bottom: 0;
    background-color: white;
    
}
.footer div{
    margin: 40px 0px;
    background-color: transparent;
}
p{
    background-color: transparent;
    font-weight: 600;
}
img{
    background-color: transparent;
}
.logo-info{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.social{
    width: 220px;
    display: flex;
    align-items: center;
}
.social img{
    margin-left: 5px;
}
@media screen and (max-width:830px) {
    body{
        padding: 20px 40px;
    }
    .creds{
        display: none;
    }
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    input{
        display: none;
    }
    .search{
        width: 300px;
        display: flex;
        align-items: center;
        gap: 15px;
        overflow: hidden;
        justify-content: flex-end;
    }
    .search img{
        display: block;
        height: 28px;
        width: 28px;
    }
    .input-area{
        width: 200px;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        transition: ease-in-out 0.5s;
       
    }
    @keyframes slide-left {
        0%{
            transform: translateX(100px);
        }
        50%{
           transform: translateX(50px);
        }
        100%{
            transform: translateX(0px);
        }
        
    }
    .input-text{
        animation: slide-left 0.5s ease-out 0s 1;
    }
    .input-area:hover .input-text{
        width: 120px;
        display: flex;
    }
    .movie{
        width: 180px;
        height: 300px;
        margin: 10px 18px;
    }
    .title{
        width: 177px;
    }
    .footer{
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo-info{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .social{
        display:block;
        align-content: center;
        justify-content: center;
    }
    .social img{
        height: 32px;
        width: 32px;
    }

}